#navbar ul {
    margin: 0;
    padding-top: 10px;
    list-style-type: none;
    height: 30px;
    padding-left: 2px;
    background-color: #000;
}

#navbar ul li {
    display: inline;
}

#navbar ul li a {
    text-decoration: none;
    padding: .2em 1em;
    color: #fff;
    background-color: #000;
}

#navbar ul li a:hover {
    color: #000;
    background-color: #fff;
}

#navbar{
    background-color: black;
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    color: white;
    height: 50px;
    padding-top: 10px;
}


#navbar h1{
    margin-top: -5px;
}