.main {
    margin: 5%;
    flex-wrap: wrap;
    display: flex;

}

.listItem{    
    font-size: x-large;
    margin: 10px;
}

.listItem:hover{    
    color: royalblue;
    cursor: pointer;
}

.loader{
    margin: 10px;
}