.completed-true{
    color: gray;
    text-decoration: line-through;
}

.card{
    width: 80%;
    background-color:rgb(243, 243, 243);
    margin-top: 20px;
    display: flex;
    font-weight: 400;
    font-size: large;
    margin-left: 10%;
    padding: 10px;
    box-shadow: 1px 3px 3px 2px #ccc;
}

.card:hover{
    box-shadow: 1px 3px 3px 2px rgb(170, 243, 173);
}

.card input{
    margin-right: 20px;
}